<!-- Template taken and modified from: link(https://www.codeply.com/go/nBfGl67COs/bootstrap-4-register-form) -->
<!-- Template taken and modified from: w3schools link(https://www.w3schools.com/bootstrap4/bootstrap_templates.asp)-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div th:replace="/includes/navigation :: navigation"></div>
<br>
<br>
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-5">Registration</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card border-secondary">
                        <div class="card-header">
                            <h3 class="mb-0 my-2">Sign Up</h3>
                            <pre class="mb-0 my-2 text-danger" th:if="${message != null}" th:text="${message}"></pre>
                        </div>
                        <div class="card-body">
                            <form action="#" class="form" role="form" method="post" th:object="${user}"
                                  th:action="@{/register/registerUser}"
                                  autocomplete="off">
                                <div>
                                    <div class="form-group">
                                        <label for="fName">Fist name</label>
                                        <input th:field="*{firstName}" type="text" class="form-control" name="fName" id="fName"
                                               placeholder="First name">
                                    </div>
                                    <div class="form-group">Last name</label>
                                        <input th:field="*{lastName}"type="text" class="form-control" name="lName" id="lName"
                                               placeholder="Last name">
                                    </div>
                                    <div class="form-group">
                                        <label for="dateOfBirth">Date of birth</label>
                                        <input th:field="*{dateOfBirth}" type="date" class="form-control" name="dateOfBirth" id="dateOfBirth"
                                               placeholder="Date of birth">
                                    </div>
                                    <div class="form-group">
                                        <label for="uName">Username</label>
                                        <input th:field="*{username}" type="text" class="form-control" name="uName" id="uName"
                                               placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input th:field="*{email}" type="text" class="form-control" name="email" id="email"
                                               placeholder="Your email">
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Phone number</label>
                                        <input th:field="*{phoneNumber}" type="text" class="form-control" name="phone" id="phone"
                                               placeholder="Phone number">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input th:field="*{password}" type="password" class="form-control" name="password" id="password"
                                               placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success btn-lg float-right"
                                           value="Register">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->
</body>
</html>