<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Auctioneer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="/includes/navigation :: navigation"></div>
<br>
<br>
<div class="container" style="margin-top:30px">
    <div>
        <h2 class="text-center text-info font-weight-bold">About</h2>
        <br>
        <p class="text-center" style="font-size: 25px">
            University assignment. This is a project of a Auction Site for the course "Razvoj infromacionih sistema" (Eng.:"Development of Information Systems").
        </p>
        <p class="text-center" style="font-size: 20px">
            Projekat je pisan na engleskom jeziku radi vezbe. Jednog dana me svakako ceka pisanje koda na engleskom pa sam iskoristio priliku da se oprobam :)
        </p>
    </div>
</div>
</body>
</html>