<!-- Template taken and modified from: w3schools link(https://www.w3schools.com/bootstrap4/bootstrap_templates.asp)-->
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Auctioneer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <style>
        .img {
            height: 300px;
            width: 300px;
        }
    </style>
</head>
<body>
<div th:replace="/includes/navigation :: navigation"></div>
<br>
<br>
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center text-info font-weight-bold">Welcome to the Auctioneer website</h2>
            <h5 class="text-center text-info">Your preferred auction site</h5>
            <img src="bdd.jpg"></img>
        </div>
    </div>
    <div class="row mt-5">
        <a th:href="@{/view/auctions/auction(id=${auction.auctionID})}" class="col-4 bg-light border border-info"
           th:each="auction : ${newAuctions}">
            <p class="text-center text-info" th:text="${auction.title}"></p>
            <img class="mx-auto d-block img" th:src="@{'/images/auction?auctionID=' + @{auction.auctionID} +'&image=A'}"
                 alt="Image not available">
        </a>
    </div>
</div>
</body>
</html>