<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Auctioneer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <style>
        .img {
            height: 180px;
            width: 180px;
        }
        .fix{
            z-index:10;
            position: fixed;
        }
    </style>
</head>
<body>
<div th:replace="/includes/navigation :: navigation"></div>
<br>
<br>
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-2 bg-warning border border-danger bg-light mt-5 fix">
            <br>
            <h3 class="text-center text-info">Filter search</h3>
            <form action="/view/auctions/filter">
                <ul class="nav nav-pills flex-column ">
                    <li class="nav-item">
                        <div class="w-75">
                            <label for="title">Title</label>
                            <input type="text" name="title" id="title">
                        </div>
                    </li>
                    <br>
                    <li class="nav-item">
                        <div class="w-75">
                            <label for="category">Category</label>
                            <select name="category" id="category">
                                <option selected disabled>Select a category</option>
                                <option th:each="category : ${categories}" th:value="${category}" th:text="${category}"></option>
                            </select>
                        </div>
                    </li>
                    <br>
                    <li class="nav-item">
                        <div class="w-75">
                            <label for="country">Country</label>
                            <select name="country" id="country">
                                <option selected disabled>Select a country</option>
                                <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
                            </select>
                        </div>
                    </li>
                    <br>
                    <li class="nav-item">
                        <div class="col text-center">
                            <input class="btn btn-info" type="submit" value="Filter">
                        </div>
                    </li>
                    <br>
                </ul>
            </form>
        </div>
        <div class="col-1"></div>
        <div class="col-8"></div>
        <div class="col-1"></div>
    </div>
    <div th:each="auction : ${auctions}">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-8 border border-info bg-light mb-5">
            <h2 class="text-info text-center" th:text="${auction.title}">Auction title</h2>
            <h5 class="text-success text-center" th:if="${not auction.bidders.isEmpty()}" th:text="|${auction.bidders.first().amount} ${auction.currency}|">Current max bid</h5>
            <h5 class="text-success text-center" th:if="${auction.bidders.isEmpty()}" th:text="|${auction.initialPrice} ${auction.currency}|">No bids, initial price shown</h5>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-2"></div>
                    <img class="col-2 img" src="../../static/images/screenshot.png" th:src="@{'/images/auction?auctionID=' + ${auction.auctionID} +'&image=B'}" alt="Image not available">
                    <div class="col-1"></div>
                    <img class="col-2 img" src="../../static/images/screenshot.png" th:src="@{'/images/auction?auctionID=' + ${auction.auctionID} +'&image=A'}" alt="Image not available">
                    <div class="col-1"></div>
                    <img class="col-2 img" src="../../static/images/screenshot.png" th:src="@{'/images/auction?auctionID=' + ${auction.auctionID} +'&image=C'}" alt="Image not available">
                    <div class="col-2"></div>
                </div>
            </div>
            <p class="text-center text-danger" th:if="${auction.dateTimeOfAuctionStart != null}" th:text="|Auction start date: ${auction.dateTimeOfAuctionStart.toString().subSequence(0, 10)}|">Date and time of action start</p>
            <div class="text-center">
                Seller <a th:href="@{/view/user(id=${auction.seller.userID})}" th:text="${auction.seller.username}"></a>
            </div>
            <p class="text-center" th:text="${auction.description}">Description</p>
            <div class="col text-center">
                <a class="btn btn-success btn-lg" th:href="@{/view/auctions/auction(id=${auction.auctionID})}">View auction</a>
            </div>
            <br>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
</body>
</html>