<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Auctioneer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>
<body>
<div th:replace="/includes/navigation :: navigation"></div>
<br>
<br>
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 border border-primary">
            <h2 class="text-center text-info" th:text="|User: ${userView.username}|"></h2>
            <br>
            <br>
            <h4 class="text-center text-info">From</h4>
            <br>
            <p class="text-center text-info" th:text="|${userView.address.country}, ${userView.address.city}|"></p>
            <br>
            <br>
            <h4 class="text-center text-info">User feedbacks</h4>
            <p class="text-center text-danger" th:if="${userView.feedbacks.isEmpty()}"
               th:text="|User does not have feedbacks yet|"></p>
            <div class="container">
                <div class="row border border-danger mb-3" th:each="feedback : ${userView.feedbacks}">
                    <div class="col-2"></div>
                    <div class="col-8 bg-light">
                        <br>
                        <p class="text-center text-info" th:text="|Grade: ${feedback.grade}|"></p>
                        <p class="text-center text-info" th:text="|Auction: ${feedback.auction.title}|"></p>
                        <p class="text-center text-info" th:text="|Description: ${feedback.description}|"></p>
                        <br>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
</body>
</html>